Read data from this link: https://parvathy47.github.io/Parvathy47.github.io/Rdatasets/csv/gap/PD.csv and perform data cleaning on the dataset.

### A study of Parkinson's disease and APOE, LRRK2, SNCA makers 
##### Description 
* A study of Parkinson's disease and controls with APOE, LRRK2 markers rs10506151, rs10784486, rs1365763, rs1388598, rs1491938, rs1491941 and SNCA markers m770, int4 and SNCA. 

* The column abc indicates if a subject is familial Parkinson's (+), sporadic (-), or controls (Control). 

* Races involved are American Indians (AI), African American (B), and the rest are Caucasians. 

* Diagnosis also included possible (POS), probable (PRO) and definite PDs. 

* AON is the age at onset.

In [35]:
df.sample()

,Unnamed: 0,lab,apoe,rs10506151,rs10784486,rs1365763,rs1388598,rs1491938,rs1491941,m770,...,diag,sex,race,aon,comments,pd,apoe234,apoe2,apoe3,apoe4
663,664,336-000,3/3,2/2,2/2,1/2,2/2,1/2,2/2,2/2,...,NaN,M,NaN,64.0,NaN,1,0.0,0.0,1.0,0.0

In [34]:
df.head()

,Unnamed: 0,lab,apoe,rs10506151,rs10784486,rs1365763,rs1388598,rs1491938,rs1491941,m770,...,diag,sex,race,aon,comments,pd,apoe234,apoe2,apoe3,apoe4
0,1,002-001,NaN,2/2,1/2,2/2,2/2,1/2,1/2,NaN,...,NaN,F,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
1,2,008-015,NaN,2/2,2/2,2/2,2/2,1/2,2/2,NaN,...,NaN,F,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
2,3,019-000,3/4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,M,NaN,NaN,NaN,1,1.0,0.0,0.0,1.0
3,4,030-001,3/4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,F,NaN,NaN,NaN,0,1.0,0.0,0.0,1.0
4,5,038-000,3/3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,M,NaN,NaN,NaN,1,0.0,0.0,1.0,0.0

**1. Which column has the maximum number of null values?**

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://parvathy47.github.io/Parvathy47.github.io/Rdatasets/csv/gap/PD.csv ")
df.isnull().sum()
df.isnull().sum().max()

787

**2. How many male patients were surveyed?**

In [17]:
df.sex.value_counts()

M    435
F    390
Name: sex, dtype: int64

**3.  How many control patients are there in the dataset?**

In [36]:
#Q3
df.abc.value_counts()

PD-        360
Control    235
PD+        230
Name: abc, dtype: int64

**4.  How many of the patients are Caucasians?**

In [27]:
df['race'].isnull().sum()

787

**5. How many of the patients are older than 70 years?**

In [4]:
len(df[df.aon>70])

120

**6.How many possible and probable cases were diagnosed?**

In [39]:
df['diag'].value_counts()

PRO    40
POS     3
Name: diag, dtype: int64

**7.  How many of the probabale patients are females?**

In [43]:
#Q7
df.sex.value_counts()
df['diag'][(df['sex']=='F')].count()

21

**8.  How many male African Americans were diagnosed?**

In [48]:
df[df['race']=='B'][(df['sex']=='M')].sex.count()

C:\Users\Abhijit Chendvankar\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

13

**9. What is the mean age of onset for American Indians?**

In [49]:
df[df['race']=='AI'].mean()

Unnamed: 0    456.650000
diag                 NaN
aon            52.250000
comments             NaN
pd              1.000000
apoe234         0.083333
apoe2           0.083333
apoe3           0.750000
apoe4           0.166667
dtype: float64

**10. How many of the males were PD 1?**

In [50]:
len(df.query("sex == 'M' & pd ==1"))

340