In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows',None)

In [18]:
ani_df=pd.read_excel('https://Parvathy47.github.io/Parvathy47.github.io/AnimalBirdData.xlsx')
ani_df

,animalname,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
3,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
4,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
5,calf,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
6,cavy,1,0,0,1,0,0,0,1,1,1,0,0,4,0,1,0,1
7,cheetah,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
8,chicken,0,1,1,0,1,0,0,0,1,1,0,0,2,1,1,0,2
9,crow,0,1,1,0,1,0,1,0,1,1,0,0,2,1,0,0,2
10,deer,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
11,dolphin,0,0,0,1,0,1,1,1,1,1,0,1,0,1,0,1,1
12,dove,0,1,1,0,1,0,0,0,1,1,0,0,2,1,1,0,2
13,duck,0,1,1,0,1,1,0,0,1,1,0,0,2,1,0,0,2
14,elephant,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
15,flamingo,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,1,2
16,fruitbat,1,0,0,1,1,0,0,1,1,1,0,0,2,1,0,0,1
17,giraffe,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
18,girl,1,0,0,1,0,0,1,1,1,1,0,0,2,0,1,1,1
19,goat,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
20,gorilla,1,0,0,1,0,0,0,1,1,1,0,0,2,0,0,1,1
21,gull,0,1,1,0,1,1,1,0,1,1,0,0,2,1,0,0,2
22,hamster,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,0,1
23,hare,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,0,1
24,hawk,0,1,1,0,1,0,1,0,1,1,0,0,2,1,0,0,2
25,kiwi,0,1,1,0,0,0,1,0,1,1,0,0,2,1,0,0,2
26,lark,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2
27,leopard,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
28,lion,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
29,lynx,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
30,mink,1,0,0,1,0,1,1,1,1,1,0,0,4,1,0,1,1
31,mole,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,0,1
32,mongoose,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
33,opossum,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,0,1
34,oryx,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
35,ostrich,0,1,1,0,0,0,0,0,1,1,0,0,2,1,0,1,2
36,parakeet,0,1,1,0,1,0,0,0,1,1,0,0,2,1,1,0,2
37,penguin,0,1,1,0,0,1,1,0,1,1,0,0,2,1,0,1,2
38,pheasant,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2
39,pitviper,0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,0,3
40,platypus,1,0,1,1,0,1,1,0,1,1,0,0,4,1,0,1,1
41,polecat,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
42,pony,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
43,porpoise,0,0,0,1,0,1,1,1,1,1,0,1,0,1,0,1,1
44,puma,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
45,pussycat,1,0,0,1,0,0,1,1,1,1,0,0,4,1,1,1,1
46,raccoon,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
47,reindeer,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
48,rhea,0,1,1,0,0,0,1,0,1,1,0,0,2,1,0,1,2
49,seal,1,0,0,1,0,1,1,1,1,1,0,1,0,0,0,1,1
50,sealion,1,0,0,1,0,1,1,1,1,1,0,1,2,1,0,1,1
51,seasnake,0,0,0,0,0,1,1,1,1,0,1,0,0,1,0,0,3
52,skimmer,0,1,1,0,1,1,1,0,1,1,0,0,2,1,0,0,2
53,skua,0,1,1,0,1,1,1,0,1,1,0,0,2,1,0,0,2
54,slowworm,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,0,3
55,sparrow,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2
56,squirrel,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,0,1
57,swan,0,1,1,0,1,1,0,0,1,1,0,0,2,1,0,1,2
58,tortoise,0,0,1,0,0,0,0,0,1,1,0,0,4,1,0,1,3
59,tuatara,0,0,1,0,0,0,1,1,1,1,0,0,4,1,0,0,3
60,vampire,1,0,0,1,1,0,0,1,1,1,0,0,2,1,0,0,1
61,vole,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,0,1
62,vulture,0,1,1,0,1,0,1,0,1,1,0,0,2,1,0,1,2
63,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
64,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
65,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [19]:
ani_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   animalname  66 non-null     object
 1   hair        66 non-null     int64
 2   feathers    66 non-null     int64
 3   eggs        66 non-null     int64
 4   milk        66 non-null     int64
 5   airborne    66 non-null     int64
 6   aquatic     66 non-null     int64
 7   predator    66 non-null     int64
 8   toothed     66 non-null     int64
 9   backbone    66 non-null     int64
 10  breathes    66 non-null     int64
 11  venomous    66 non-null     int64
 12  fins        66 non-null     int64
 13  legs        66 non-null     int64
 14  tail        66 non-null     int64
 15  domestic    66 non-null     int64
 16  catsize     66 non-null     int64
 17  type        66 non-null     int64
dtypes: int64(17), object(1)
memory usage: 9.4+ KB

In [21]:
ani_df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
animalname,66,66,sealion,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hair,66,NaN,NaN,NaN,0.590909,0.495434,0,0,1,1,1
feathers,66,NaN,NaN,NaN,0.30303,0.46309,0,0,0,1,1
eggs,66,NaN,NaN,NaN,0.378788,0.488802,0,0,0,1,1
milk,66,NaN,NaN,NaN,0.621212,0.488802,0,0,1,1,1
airborne,66,NaN,NaN,NaN,0.272727,0.448775,0,0,0,1,1
aquatic,66,NaN,NaN,NaN,0.19697,0.400757,0,0,0,0,1
predator,66,NaN,NaN,NaN,0.530303,0.502905,0,0,1,1,1
toothed,66,NaN,NaN,NaN,0.666667,0.475017,0,0,1,1,1
backbone,66,NaN,NaN,NaN,1,0,1,1,1,1,1
breathes,66,NaN,NaN,NaN,0.984848,0.123091,0,1,1,1,1
venomous,66,NaN,NaN,NaN,0.030303,0.172733,0,0,0,0,1
fins,66,NaN,NaN,NaN,0.0606061,0.240435,0,0,0,0,1
legs,66,NaN,NaN,NaN,2.81818,1.31159,0,2,3,4,4
tail,66,NaN,NaN,NaN,0.909091,0.289683,0,1,1,1,1
domestic,66,NaN,NaN,NaN,0.166667,0.375534,0,0,0,0,1
catsize,66,NaN,NaN,NaN,0.590909,0.495434,0,0,1,1,1
type,66,NaN,NaN,NaN,1.45455,0.636863,1,1,1,2,3

In [22]:
ani_df.isnull().sum()

animalname    0
hair          0
feathers      0
eggs          0
milk          0
airborne      0
aquatic       0
predator      0
toothed       0
backbone      0
breathes      0
venomous      0
fins          0
legs          0
tail          0
domestic      0
catsize       0
type          0
dtype: int64

In [23]:
ani_df.dtypes

animalname    object
hair           int64
feathers       int64
eggs           int64
milk           int64
airborne       int64
aquatic        int64
predator       int64
toothed        int64
backbone       int64
breathes       int64
venomous       int64
fins           int64
legs           int64
tail           int64
domestic       int64
catsize        int64
type           int64
dtype: object

In [25]:
ani_df.columns

Index(['animalname', 'hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic',
       'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins',
       'legs', 'tail', 'domestic', 'catsize', 'type'],
      dtype='object')

In [26]:
ani_df['type'].value_counts()

1    41
2    20
3     5
Name: type, dtype: int64

In [27]:
ani_fea=ani_df.loc[0:,'hair':'type']

In [28]:
from sklearn import decomposition
from sklearn.decomposition import PCA

In [29]:
pca=decomposition.PCA()
ani_pca=pca.fit_transform(ani_fea)
print(pca.explained_variance_ratio_)
print(pca.explained_variance_ratio_.sum())
print(pca.n_components_)

[5.65420444e-01 1.80520527e-01 7.14280339e-02 5.18144402e-02
 3.68863731e-02 2.69349225e-02 2.27355148e-02 1.49579054e-02
 1.02273457e-02 7.14714584e-03 5.48952198e-03 2.62302099e-03
 1.83485854e-03 1.62165336e-03 3.58293167e-04 7.85505848e-34
 1.28846477e-35]
1.0
17

In [30]:
pca=decomposition.PCA()
ani_pca=pca.fit_transform(ani_fea.loc[0:,'hair':'milk'])
print(pca.explained_variance_ratio_)
print(pca.explained_variance_ratio_.sum())
print(pca.n_components_)

[0.90629312 0.05388715 0.02914915 0.01067058]
1.0
4

In [31]:
pca=decomposition.PCA()
ani_pca=pca.fit_transform(ani_fea.loc[0:,'hair':'eggs'])
print(pca.explained_variance_ratio_)
print(pca.explained_variance_ratio_.sum())
print(pca.n_components_)

[0.8928158  0.06822425 0.03895995]
1.0
3

In [32]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(ani_fea)
scaled_data=scaler.transform(ani_fea)
pca=PCA(n_components=3)
ani_pca=pca.fit_transform(scaled_data)
print(pca.explained_variance_ratio_)
print(pca.explained_variance_ratio_.sum())
print(pca.n_components_)

[0.40427488 0.15763182 0.1127265 ]
0.6746331978620869
3